body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  direction: rtl;
  height: 100vh;
  box-sizing: border-box;
  line-height: 1.5;
  background: linear-gradient(to bottom, #81b3e8, #d5dce6);
  color: #000000;
}
.contain {
  margin: 5px; 
  padding: 10px; 
}

.header {
  background-color: #1b284c;
  width: 25%;
  margin: auto;
  text-align: center;
  border-radius: 50px;
  color: white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
 .content .par-1 {
     font-size: 30px;
     font-weight: 800;
 }

.content .par-6 span {
  color: rgb(147, 14, 14);
  font-size: 70px;
}

.content .par-6 {
  font-size: 30px;
}
.content .par-5 {
  font-size: 40px;
  font-weight: 800;
}
i {
  font-size: 50px;
  /* color: #0a4200; */
}

.contact p {
  font-size: 30px;
  font-weight: 800;
}
a{
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  text-decoration: none!important ;
  color: #000000;
}
a:hover {
  cursor: pointer !important;
    opacity: 0.8;
    color: #080647;
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

.haraj{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.icons{
  margin-top: 20px;
}
.icons a {
  margin-right: 20px;
}
.icons a i.fa-twitter {
  color: #1DA1F2;
}

.icons a i.fa-tiktok {
  color: black;
  
}

.icons a i.fa-snapchat-square {
  color: #FFFC00;
  
}

.icons a i.fa-instagram {
  color: #C13584;
}

/* Add similar styles for other icons */



/* Default styles */


@media (max-width: 822px) {
body {
        font-size: 40px;
    }

    .content .par-1 {
        font-size: 40px;
        font-weight: 800;
    }
    .content .par-6 {
        font-size: 40px;
    }

    .content .par-5 {
        font-size: 30px;
        font-weight: 800;
    }

    .contact p {
        font-size: 40px;
        font-weight: 800;
    }

    .content .par-6 span {
        color: rgb(147, 14, 14);
        font-size: 55px;
    }
  .header {
    width: 40%;
  }
}

/* Styles for screens with a maximum width of 480px */
@media (max-width: 480px) {
body {
        font-size:20px ;
    }
         .content .par-1 {
             font-size: 25px;
             font-weight: 800;
         }
  .content .par-6 {
    font-size: 30px;
  }

  .content .par-5 {
    font-size: 25px;
    font-weight: 800;
  }
  .contact p {
      font-size: 35px;
      font-weight: 800;
  }
  .content .par-6 span {
    color: rgb(147, 14, 14);
    font-size: 35px;
  }

  .header {
    width: 60%;
  }
}
/* Styles for screens with a maximum width of 480px */
@media (max-width: 400px) {
body {
        font-size:20px ;
    }
         .content .par-1 {
             font-size: 20px;
             font-weight: 800;
         }
  .content .par-6 {
    font-size: 30px;
  }

  .content .par-5 {
    font-size: 25px;
    font-weight: 800;
  }
  .contact p {
      font-size: 30px;
      font-weight: 800;
  }
  .content .par-6 span {
    color: rgb(147, 14, 14);
    font-size: 40px;
  }

  .header {
    width: 60%;
  }
}
